http://localhost:3000 {

  # Define named matchers satisfying a combination of content request specs
  @Fr {
    langneg {
      match_languages fr
    }
  }

  @DeEn {
    langneg {
      match_languages de en
      var_language lang
    }
  }

  @FullDE {
    langneg {
      match_languages de-DE
      full_locale true
      var_language lang
    }
  }

  @ShortEn {
    langneg {
      match_languages en-US
      full_locale false
      var_language lang
    }
  }

  @Fallback {
    langneg {
      match_languages pl-PL
      full_locale false
      var_language lang
      fallback_value english
    }
  }

  # Test with the following:

  respond @DeEn "German or English. {vars.langneg_lang} preferred!"

  respond @Fr "French"

  respond @FullDE "German. Full locale {vars.langneg_lang}"

  respond @ShortEn "English. Short locale {vars.langneg_lang}"

  respond @Fallback "Fallback value {vars.langneg_lang}"

  respond "Default"
}
